/*--------------------------------------------------------------
General Layout
--------------------------------------------------------------*/
body{
    margin: 0;
}

ul{
    display: inline-block;
    list-style-type: none;
    margin-left: 65px;
    margin-top: 40px;
}

.icon10-container a span{
    margin-left: 30px;
}

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
.icon10-container a{
    font-size: 24px;
    line-height: 35px;
}

.icon10-container a span{
    font-family: 'Fjalla One', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

/*--------------------------------------------------------------
First set of icons - Red Flip Card Icons - Top Left
--------------------------------------------------------------*/
.icon1-container{
    float: left;
	display: inline-block;
    height: 170px;
    background-color: #FF5952;
    border: 2.5px solid #fff;
    border-top: none;
    border-left: none;
    padding-top: 30px;
}

.flip-container {
	perspective: 1000px;
	display: block;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 130px;
	height: 130px;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
	transform: rotateY(0deg);
}

.back {
	transform: rotateY(180deg);
}

#facebook-box-front{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #FF7C75;
}

#facebook-box-back{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #3B5998;
}

#twitter-box-front{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #FF7C75;
}

#twitter-box-back{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #55ACEE;
}

#linkedin-box-front{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #FF7C75;
}

#linkedin-box-back{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #0077B5;
}

/*--------------------------------------------------------------
Second set of icons - Blue Circle 3x3 Icons - Top Middle
--------------------------------------------------------------*/
.icon2-container{
    float: left;
    background-color: #3E77E9;
    border: 2.5px solid #FFF;
    border-top: none;
    padding-left: 10px;
    padding-right: 10px;
}

.icon2-container .fa{
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 10px 4px;
	border-radius: 50%;
}

.icon2-container .fa:hover{
    color: black;
    background-color: white;
    transition: .8s;
    opacity: .8;
}

.icon2-container .fa-facebook{
    background: #3B5998;
    color: white;
}

.icon2-container .fa-twitter{
    background: #55ACEE;
    color: white;
}

.icon2-container .fa-google{
    background: #DD4B39;
    color: white;
}

.icon2-container .fa-youtube{
    background: #BB0000;
    color: white;
}

.icon2-container .fa-dribbble{
	background: #EA4C89;
	color: white;
}

.icon2-container .fa-linkedin{
	background: #0077B5;
	color: white;
}

.icon2-container .fa-tumblr{
    background: #2C4762;
    color: white;
}

.icon2-container .fa-pinterest{
	background: #CB2027;
	color: white;
}

.icon2-container .fa-rss{
    background: #FF6000;
    color: white;
}

/*--------------------------------------------------------------
Third set of icons - Green Slide Down Icons - Top Middle
--------------------------------------------------------------*/
.icon3-container{
    float: left;
    background-color: #4FC775;
    border: 2.5px solid #FFF;
    border-top: none;
    padding: 50px;
}

.icon3-container .fa{
    padding: 20px;
    font-size: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    margin: 10px 20px;
	border-radius: 35%;
}

.icon3-container .fa-facebook{
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, white 50%, #3B5998 50%);
    -webkit-transition: background-position .5s;
    -moz-transition: background-position .5s;
    transition: background-position .5s;
    color: #3B5998;
}

.icon3-container .fa-facebook:hover{
    background-position: 0 -100%;
    transition: .5s;
    color: white;
}

.icon3-container .fa-twitter{
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, white 50%, #55ACEE 50%);
    -webkit-transition: background-position .5s;
    -moz-transition: background-position .5s;
    transition: background-position .5s;
    color:  #55ACEE;
}

.icon3-container .fa-twitter:hover{
    background-position: 0 -100%;
    transition: .5s;
    color: white;
}

.icon3-container .fa-linkedin{
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, white 50%, #0077B5 50%);
    -webkit-transition: background-position .5s;
    -moz-transition: background-position .5s;
    transition: background-position .5s;
	color: #0077B5;
}

.icon3-container .fa-linkedin:hover{
    background-position: 0 -100%;
    transition: .5s;
    color: white;
}

.icon3-container .fa-google{
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, white 50%, #DD4B39 50%);
    -webkit-transition: background-position .5s;
    -moz-transition: background-position .5s;
    transition: background-position .5s;
    color: #DD4B39;
}

.icon3-container .fa-google:hover{
    background-position: 0 -100%;
    transition: .5s;
    color: white;
}

.icon3-container .fa-rss{
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, white 50%, #FF6000 50%);
    -webkit-transition: background-position .5s;
    -moz-transition: background-position .5s;
    transition: background-position .5s;
    color: #FF6000;
}

.icon3-container .fa-rss:hover{
    background-position: 0 -100%;
    transition: .5s;
    color: white;
}

/*--------------------------------------------------------------
Fourth set of icons - Yellow - Top Right
--------------------------------------------------------------*/
.icon4-container{
    float: left;
    background-color: #FFD656;
    border: 2.5px solid #FFF;
    border-top: none;
    border-right: none;
    padding: 50px;
    height: 270px;
    width: 267px;
}

/*--------------------------------------------------------------
Fifth set of icons - Yellow - Left Side Middle
--------------------------------------------------------------*/
.icon5-container{
    position: absolute;
    top: 203px;
    float: left;
    background-color: #FFD656;
    border: 2.5px solid #FFF;
    border-left: none;
    padding: 50px;
    height: 232px;
    width: 410px;
}

/*--------------------------------------------------------------
Sixth set of icons - Purple - Middle Left
--------------------------------------------------------------*/
.icon6-container{
    position: absolute;
    top: 273px;
    left: 513px;
    background-color: #644CA2;
    border: 2.5px solid #FFF;
    padding: 50px;
    height: 162px;
    width: 162px;
}

/*--------------------------------------------------------------
Seventh set of icons - Red - Middle Right
--------------------------------------------------------------*/
.icon7-container{
    position: absolute;
    top: 213px;
    left: 780px;
    background-color: #FF5952;
    border: 2.5px solid #FFF;
    padding: 50px;
    height: 162px;
    width: 666px;
}

/*--------------------------------------------------------------
Eighth set of icons - Blue - Right Side Middle
--------------------------------------------------------------*/
.icon8-container{
    position: absolute;
    top: 373px;
    left: 1551px;
    background-color: #3E77E9;
    border: 2.5px solid #FFF;
    border-right: none;
    padding: 50px;
    height: 270px;
    width: 266px;
}

/*--------------------------------------------------------------
Ninth set of icons - Blue - Bottom Left
--------------------------------------------------------------*/
.icon9-container{
    position: absolute;
    top: 540px;
    background-color: #3E77E9;
    border: 2.5px solid #FFF;
    border-left: none;
    border-bottom: none;
    padding: 50px;
    height: 304px;
    width: 286px;
}

/*--------------------------------------------------------------
Tenth set of icons - Green Pressed Button Icons - Bottom Middle
--------------------------------------------------------------*/
.icon10-container{
    position: absolute;
    top: 540px;
    left: 389px;
    background-color: #4FC775;
    border: 2.5px solid #FFF;
    border-bottom: none;
    height: 404px;
    width: 386px;
}

.icon10-container a {
	position: relative;
    color: #fff;
    text-decoration: none;
    display: block;
    border-radius: 6px;
    height: 35px;
   	width: 160px;
	text-align: left;
	transform: translate(0, 0);
	transition: all .2s ease;
    overflow: hidden;
    margin-top: 25px;
    margin-bottom: 25px;
    margin: 25px 40px 25px 0px;
    padding-left: 15px;
}

.icon10-container a:active {
    transform: translate(0, 3px);
}

.icon10-container .fa-facebook{
    background: #3B5997;
    margin-left: 3px;
    color: white;
    box-shadow: 0px 6px 0px #293F63;
}

.icon10-container .fa-facebook:active{
    box-shadow: 0px 2px 0px #293F63;
}

.icon10-container .fa-twitter{
    background: #2CA9E1;
    color: white;
    box-shadow: 0px 6px 0px #2695BC;
}

.icon10-container .fa-twitter:active{
    box-shadow: 0px 2px 0px #2695BC;
}

.icon10-container .fa-linkedin{
    background: #0073B2;
    color: white;
    box-shadow: 0px 6px 0px #005377;
}

.icon10-container .fa-linkedin:active{
    box-shadow: 0px 2px 0px #005377;
}

.icon10-container .fa-pinterest{
    background: #CD1D1F;
    color: white;
    box-shadow: 0px 6px 0px #8C151B;
}

.icon10-container .fa-pinterest:active{
    box-shadow: 0px 2px 0px #8C151B;
}

.icon10-container .fa-flickr{
    background: #FC1090;
    color: white;
    box-shadow: 0px 6px 0px #C10E78;
}

.icon10-container .fa-flickr:active{
    box-shadow: 0px 2px 0px #C10E78;
}

/*--------------------------------------------------------------
Eleventh set of icons - Yellow - Bottom Middle
--------------------------------------------------------------*/
.icon11-container{
    position: absolute;
    top: 480px;
    left: 780px;
    background-color: #FFD656;
    border: 2.5px solid #FFF;
    border-bottom: none;
    padding: 50px;
    height: 364px;
    width: 150px;
}

/*--------------------------------------------------------------
Twelfth set of icons - Purple - Middle Right
--------------------------------------------------------------*/
.icon12-container{
    position: absolute;
    top: 480px;
    left: 1035px;
    background-color: #644CA2;
    border: 2.5px solid #FFF;
    padding: 50px;
    height: 163px;
    width: 411px;
}

/*--------------------------------------------------------------
Thirteenth set of icons - Red - Bottom Right
--------------------------------------------------------------*/
.icon13-container{
    position: absolute;
    top: 748px;
    left: 1035px;
    background-color: #FF5952;
    border: 2.5px solid #FFF;
    border-right: none;
    border-bottom: none;
    padding: 50px;
    height: 96px;
    width: 782px;
}
