/*--------------------------------------------------------------
General Layout
--------------------------------------------------------------*/
body{
    margin: 0;
}

ul{
    display: inline-block;
    list-style-type: none;
    margin-left: 65px;
    margin-top: 40px;
}

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
.icon9-container a{
    font-size: 24px;
}

.icon9-container a span, span2, span3, span4{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

.icon10-container a{
    font-size: 24px;
    line-height: 35px;
}

.icon10-container a span{
    font-family: 'Fjalla One', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

/*--------------------------------------------------------------
First set of icons - Red Flip Card Icons - Top Left
--------------------------------------------------------------*/
.icon1-container{
    position: absolute;
	display: inline-block;
    height: 170px;
    background-color: #FF5952;
    border: 2.5px solid #fff;
    border-top: none;
    border-left: none;
    padding-top: 30px;
    min-width: 510px;
}

.flip-container {
	perspective: 1000px;
	display: block;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 130px;
	height: 130px;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
	transform: rotateY(0deg);
}

.back {
	transform: rotateY(180deg);
}

#facebook-box-front{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #FF7C75;
}

#facebook-box-back{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #3B5998;
}

#twitter-box-front{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #FF7C75;
}

#twitter-box-back{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #55ACEE;
}

#linkedin-box-front{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #FF7C75;
}

#linkedin-box-back{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #0077B5;
}

/*--------------------------------------------------------------
Second set of icons - Blue Circle 3x3 Icons - Top Middle
--------------------------------------------------------------*/
.icon2-container{
    position: absolute;
    left: 513px;
    background-color: #3E77E9;
    border: 2.5px solid #FFF;
    border-top: none;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 242px;
}

.icon2-container .fa{
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 10px 4px;
	border-radius: 50%;
}

.icon2-container .fa:hover{
    color: black;
    background-color: white;
    transition: .8s ;
    opacity: .8;
}

.icon2-container .fa-facebook{
    background: #3B5998;
    color: white;
}

.icon2-container .fa-twitter{
    background: #55ACEE;
    color: white;
}

.icon2-container .fa-google{
    background: #DD4B39;
    color: white;
}

.icon2-container .fa-youtube{
    background: #BB0000;
    color: white;
}

.icon2-container .fa-dribbble{
	background: #EA4C89;
	color: white;
}

.icon2-container .fa-linkedin{
	background: #0077B5;
	color: white;
}

.icon2-container .fa-tumblr{
    background: #2C4762;
    color: white;
}

.icon2-container .fa-pinterest{
	background: #CB2027;
	color: white;
}

.icon2-container .fa-rss{
    background: #FF6000;
    color: white;
}

/*--------------------------------------------------------------
Third set of icons - Green Slide Down Icons - Top Middle
--------------------------------------------------------------*/
.icon3-container{
    position: absolute;
    left: 780px;
    background-color: #4FC775;
    border: 2.5px solid #FFF;
    border-top: none;
    padding: 50px;
    min-width: 666px;
}

.icon3-container .fa{
    padding: 20px;
    font-size: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    margin: 10px 20px;
	border-radius: 35%;
}

.icon3-container .fa-facebook{
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, white 50%, #3B5998 50%);
    -webkit-transition: background-position .5s;
    -moz-transition: background-position .5s;
    transition: background-position .5s;
    color: #3B5998;
}

.icon3-container .fa-facebook:hover{
    background-position: 0 -100%;
    transition: .5s;
    color: white;
}

.icon3-container .fa-twitter{
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, white 50%, #55ACEE 50%);
    -webkit-transition: background-position .5s;
    -moz-transition: background-position .5s;
    transition: background-position .5s;
    color:  #55ACEE;
}

.icon3-container .fa-twitter:hover{
    background-position: 0 -100%;
    transition: .5s;
    color: white;
}

.icon3-container .fa-linkedin{
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, white 50%, #0077B5 50%);
    -webkit-transition: background-position .5s;
    -moz-transition: background-position .5s;
    transition: background-position .5s;
	color: #0077B5;
}

.icon3-container .fa-linkedin:hover{
    background-position: 0 -100%;
    transition: .5s;
    color: white;
}

.icon3-container .fa-google{
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, white 50%, #DD4B39 50%);
    -webkit-transition: background-position .5s;
    -moz-transition: background-position .5s;
    transition: background-position .5s;
    color: #DD4B39;
}

.icon3-container .fa-google:hover{
    background-position: 0 -100%;
    transition: .5s;
    color: white;
}

.icon3-container .fa-rss{
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, white 50%, #FF6000 50%);
    -webkit-transition: background-position .5s;
    -moz-transition: background-position .5s;
    transition: background-position .5s;
    color: #FF6000;
}

.icon3-container .fa-rss:hover{
    background-position: 0 -100%;
    transition: .5s;
    color: white;
}

/*--------------------------------------------------------------
Fourth set of icons - Yellow Hover Expand Icons - Top Right
--------------------------------------------------------------*/
.icon4-container{
    position: absolute;
    left: 1551px;
    background-color: #FFD656;
    border: 2.5px solid #FFF;
    border-top: none;
    border-right: none;
    height: 370px;
    width: 366px;
}

.icon4-container .fa{
    display: inline-block;
    font-size: 70px;
    width: 100px;
    height: 85px;
    text-decoration: none;
    text-align: center;
    margin: 10px 4px;
	border-radius: 100%;
    padding-top: 15px;
}

.icon4-block{
    display: block;
    width: 240px;
    margin-left: 75px;
    margin-top: 60px;
}

.icon4-container .fa-facebook{
    color: #fff;
    transition: transform .5s ease-in-out;
}

.icon4-container .fa-facebook:hover{
    color: #FFD656;
    background-color: #3B5998;
    transform: scale(1.4);
}

.icon4-container .fa-twitter{
    color: #fff;
    transition: transform .5s ease-in-out;
}

.icon4-container .fa-twitter:hover{
    color: #FFD656;
    background-color: #55ACEE;
    transform: scale(1.4);
}

.icon4-container .fa-linkedin{
    color: #fff;
    transition: transform .5s ease-in-out;
}

.icon4-container .fa-linkedin:hover{
    color: #FFD656;
    background-color: #0077B5;
    transform: scale(1.4);
}

.icon4-container .fa-google{
    color: #fff;
    transition: transform .5s ease-in-out;
}

.icon4-container .fa-google:hover{
    color: #FFD656;
    background-color: #DD4B39;
    transform: scale(1.4);
}


/*--------------------------------------------------------------
Fifth set of icons - Yellow Spin-Grow Icons - Left Side Middle
--------------------------------------------------------------*/
.icon5-container{
    position: absolute;
    top: 203px;
    background-color: #FFD656;
    border: 2.5px solid #FFF;
    border-left: none;
    height: 332px;
    width: 510px;
}

.icon5-block{
    width: 430px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 105px;
}

.icon5-container .fa{
    display: inline-block;
    font-size: 70px;
    width: 100px;
    height: 85px;
    text-decoration: none;
    text-align: center;
    margin: 10px 4px;
	border-radius: 100%;
    padding-top: 15px;
    background-color: #FFF;
    margin-right: 20px;
    margin-left: 20px;
}

.icon5-container .fa-facebook{
    color: #3B5998;
    transition: transform .8s ease-in-out;
}

.icon5-container .fa-facebook:hover{
    transform: rotate(360deg) scale(1.4);
}

.icon5-container .fa-twitter{
    color: #55ACEE;
    transition: transform .8s ease-in-out;
}

.icon5-container .fa-twitter:hover{
    transform: rotate(360deg) scale(1.4);
}

.icon5-container .fa-linkedin{
    color: #0077B5;
    transition: transform .8s ease-in-out;
}

.icon5-container .fa-linkedin:hover{
    transform: rotate(360deg) scale(1.4);
}
/*--------------------------------------------------------------
Sixth set of icons - Purple Neon Glow Icons - Middle Left
--------------------------------------------------------------*/
.icon6-container{
    position: absolute;
    top: 273px;
    left: 513px;
    background-color: #644CA2;
    border: 2.5px solid #FFF;
    height: 262px;
    width: 262px;}

.icon6-container .fa{
    position: absolute;
    padding: 20px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 10px 4px;
	border-radius: 40%;
    margin-left: 12px;
    margin-top: 11px;
}

.icon6-container .fa-facebook{
    background: transparent;
    border: 3px solid white;
    color: white;
}

.icon6-container .fa-facebook:hover{
    border: 5px solid #3B5998;
    box-shadow: 0 0 15px #3B5998;
    color: #3B5998;
    text-shadow: 0 0 15px #3B5998;
    transition: all 0.5s ease;
}

.icon6-container .fa-twitter{
    left: 85px;
    background: transparent;
    border: 3px solid white;
    color: white;
}

.icon6-container .fa-twitter:hover{
    border: 5px solid #59AEEE;
    box-shadow: 0 0 15px #59AEEE;
    color: #59AEEE;
    text-shadow: 0 0 15px #59AEEE;
    transition: all 0.5s ease;
}

.icon6-container .fa-google{
    left: 170px;
    background: transparent;
    border: 3px solid white;
    color: white;
}

.icon6-container .fa-google:hover{
    border: 5px solid #DD4B39;
    box-shadow: 0 0 15px #DD4B39;
    color: #DD4B39;
    text-shadow: 0 0 15px #DD4B39;
    transition: all 0.5s ease;
}

.icon6-container .fa-youtube{
    top: 85px;
    background: transparent;
    border: 3px solid white;
    color: white;
}

.icon6-container .fa-youtube:hover{
    border: 5px solid #BB0000;
    box-shadow: 0 0 15px #BB0000;
    color: #BB0000;
    text-shadow: 0 0 15px #BB0000;
    transition: all 0.5s ease;
}

.icon6-container .fa-dribbble{
    top: 85px;
    left: 85px;
    background: transparent;
    border: 3px solid white;
	color: white;
}

.icon6-container .fa-dribbble:hover{
    border: 5px solid #EA4C89;
    box-shadow: 0 0 15px #EA4C89;
    color: #EA4C89;
    text-shadow: 0 0 15px #EA4C89;
    transition: all 0.5s ease;
}

.icon6-container .fa-linkedin{
    top: 85px;
    left: 170px;
    background: transparent;
    border: 3px solid white;
	color: white;
}

.icon6-container .fa-linkedin:hover{
    border: 5px solid #0077B5;
    box-shadow: 0 0 15px #0077B5;
    color: #0077B5;
    text-shadow: 0 0 15px #0077B5;
    transition: all 0.5s ease;
}

.icon6-container .fa-tumblr{
    top: 170px;
    background: transparent;
    border: 3px solid white;
    color: white;
}

.icon6-container .fa-tumblr:hover{
    border: 5px solid #2C4762;
    box-shadow: 0 0 15px #2C4762;
    color: #2C4762;
    text-shadow: 0 0 15px #2C4762;
    transition: all 0.5s ease;
}

.icon6-container .fa-pinterest{
    top: 170px;
    left: 85px;
    background: transparent;
    border: 3px solid white;
	color: white;
}

.icon6-container .fa-pinterest:hover{
    border: 5px solid #CB2027;
    box-shadow: 0 0 15px #CB2027;
    color: #CB2027;
    text-shadow: 0 0 15px #CB2027;
    transition: all 0.5s ease;
}

.icon6-container .fa-rss{
    top: 170px;
    left: 170px;
    background: transparent;
    border: 3px solid white;
    color: white;
}

.icon6-container .fa-rss:hover{
    border: 5px solid #FF6000;
    box-shadow: 0 0 15px #FF6000;
    color: #FF6000;
    text-shadow: 0 0 15px #FF6000;
    transition: all 0.5s ease;
}

/*--------------------------------------------------------------
Seventh set of icons - Red - Middle Right
--------------------------------------------------------------*/
.icon7-container{
    position: absolute;
    top: 213px;
    left: 780px;
    background-color: #FF5952;
    border: 2.5px solid #FFF;
    padding: 50px;
    height: 162px;
    width: 666px;
}

/*--------------------------------------------------------------
Eighth set of icons - Blue Popout Menu Icons - Right Side Middle
--------------------------------------------------------------*/
.icon8-container{
    position: absolute;
    top: 373px;
    left: 1551px;
    background-color: #3E77E9;
    border: 2.5px solid #FFF;
    border-right: none;
    height: 370px;
    width: 366px;
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label{
    display:inline-block;
    width: 59px;
    height: 60px;
    background-color: #FFF;
    vertical-align: middle;
    background:url("resources\\menuButton.png") left top no-repeat;
    cursor:pointer;
    z-index: 1;
    position: relative;
    top: 149px;
    left: 153px;
    border-radius: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

input[type="checkbox"]:checked + label ~ .fa-facebook{
    transform: translate(-100px, -100px);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

input[type="checkbox"]:checked + label ~ .fa-twitter{
    transform: translate(0, -100px);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

input[type="checkbox"]:checked + label ~ .fa-google{
    transform: translate(100px, -100px);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

input[type="checkbox"]:checked + label ~ .fa-youtube{
    transform: translate(-100px, 0);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

input[type="checkbox"]:checked + label ~ .fa-linkedin{
    transform: translate(100px, 0);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

input[type="checkbox"]:checked + label ~ .fa-tumblr{
    transform: translate(-100px, 100px);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

input[type="checkbox"]:checked + label ~ .fa-pinterest{
    transform: translate(0, 100px);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

input[type="checkbox"]:checked + label ~ .fa-rss{
    transform: translate(100px, 100px);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.icon8-container .fa{
    z-index: 0;
    position: absolute;
    top: 140px;
    left: 150px;
    font-size: 30px;
    color: #FFF;
    width: 58px;
    height: 43px;
    text-decoration: none;
    text-align: center;
    margin: 10px 4px;
	border-radius: 100%;
    padding-top: 15px;
    transition: transform .5s ease-in-out;
}

.icon8-container .fa-facebook{
    background-color: #3B5998;
}

.icon8-container .fa-twitter{
    background-color: #55ACEE;
}

.icon8-container .fa-google{
    background-color: #DD4B39;
}

.icon8-container .fa-youtube{
    background-color: #BB0000;
}

.icon8-container .fa-linkedin{
    background-color: #0077B5;
}

.icon8-container .fa-tumblr{
    background-color: #2C4762;
}

.icon8-container .fa-pinterest{
    background-color: #CB2027;
}

.icon8-container .fa-rss{
    background-color: #FF6000;
}

/*--------------------------------------------------------------
Ninth set of icons - Blue Scrolling Text - Bottom Left
--------------------------------------------------------------*/
.icon9-container{
    position: absolute;
    top: 540px;
    background-color: #3E77E9;
    border: 2.5px solid #FFF;
    border-left: none;
    border-bottom: none;
    height: 404px;
    width: 386px;
}

.icon9-container a {
	position: relative;
    color: #fff;
    text-decoration: none;
    text-align: center;
    display: block;
    height: 35px;
   	width: 160px;
    overflow: hidden;
    margin-top: 25px;
    margin-bottom: 25px;
    margin: 25px 40px 25px 0px;
    padding-left: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.icon9-container a span{
    margin-left: 30px;
}

.icon9-container span2, span3, span4{
    position: relative;
    top: 3px;
    left: 90px;
}

@keyframes scrollLeftSpan{
    0%{
        position: relative;
    }

    100%{
        position: relative;
        left: -210px;
    }
}

@keyframes scrollLeftSpan2{
    0%{
        position: relative;
    }

    100%{
        position: relative;
        left: -60px;
    }
}

/* Fixes alignment issue on some boxes */
@keyframes scrollLeftSpan3{
    0%{
        position: relative;
    }

    100%{
        position: relative;
        left: -50px;
    }
}

/* Fixes alignment issue on flickr box */
@keyframes scrollLeftSpan4{
    0%{
        position: relative;
    }

    100%{
        position: relative;
        left: -40px;
    }
}

.icon9-container a:hover > span{
    animation-name: scrollLeftSpan;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.icon9-container a:hover > span2{
    animation-name: scrollLeftSpan2;
    animation-duration: .8s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.icon9-container a:hover > span3{
    animation-name: scrollLeftSpan3;
    animation-duration: .8s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.icon9-container a:hover > span4{
    animation-name: scrollLeftSpan4;
    animation-duration: .8s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.icon9-container .facebook{
    background-size: 200% 100%;
    background-image: linear-gradient(to right, #3B5998 50%, #293F63 50%);
    transition: background-position .75s;
}

.icon9-container .facebook span{
    position: relative;
    top: 3px;
    left: -5px;
}

.icon9-container .facebook:hover{
    background-position: 90% 0;
    transition: .75s;
    transition-timing-function: linear;
}

.icon9-container .twitter{
    background-size: 200% 100%;
    background-image: linear-gradient(to right, #2CA9E1 50%, #2695BC 50%);
    transition: background-position .75s;
}

.icon9-container .twitter span{
    position: relative;
    top: 3px;
    left: 5px;
}

.icon9-container .twitter:hover{
    background-position: 90% 0;
    transition: .75s;
    transition-timing-function: linear;
}

.icon9-container .linkedin{
    background-size: 200% 100%;
    background-image: linear-gradient(to right, #0073B2 50%, #005377 50%);
    transition: background-position .75s;
}

.icon9-container .linkedin span{
    position: relative;
    top: 3px;
    left: 5px;
}

.icon9-container .linkedin:hover{
    background-position: 90% 0;
    transition: .75s;
    transition-timing-function: linear;
}

.icon9-container .pinterest{
    background-size: 200% 100%;
    background-image: linear-gradient(to right, #CD1D1F 50%, #8C151B 50%);
    transition: background-position .75s;
}

.icon9-container .pinterest span{
    position: relative;
    top: 3px;
    left: 5px;
}

.icon9-container .pinterest:hover{
    background-position: 90% 0;
    transition: .75s;
    transition-timing-function: linear;
}


.icon9-container .flickr{
    background-size: 200% 100%;
    background-image: linear-gradient(to right, #FC1090 50%, #C10E78 50%);
    transition: background-position .75s;
}

.icon9-container .flickr span{
    position: relative;
    top: 3px;
    left: 5px;
}

.icon9-container .flickr:hover{
    background-position: 90% 0;
    transition: .75s;
    transition-timing-function: linear;
}
/*--------------------------------------------------------------
Tenth set of icons - Green Pressed Button Icons - Bottom Middle
--------------------------------------------------------------*/
.icon10-container{
    position: absolute;
    top: 540px;
    left: 389px;
    background-color: #4FC775;
    border: 2.5px solid #FFF;
    border-bottom: none;
    height: 404px;
    width: 386px;
}

.icon10-container a {
	position: relative;
    color: #fff;
    text-decoration: none;
    display: block;
    border-radius: 6px;
    height: 35px;
   	width: 160px;
	text-align: left;
	transform: translate(0, 0);
	transition: all .2s ease;
    overflow: hidden;
    margin-top: 25px;
    margin-bottom: 25px;
    margin: 25px 40px 25px 0px;
    padding-left: 15px;
}

.icon10-container a:active {
    transform: translate(0, 3px);
}

.icon10-container a span{
    margin-left: 30px;
}

.icon10-container .fa-facebook{
    background: #3B5997;
    margin-left: 3px;
    color: white;
    box-shadow: 0px 6px 0px #293F63;
}

.icon10-container .fa-facebook:active{
    box-shadow: 0px 2px 0px #293F63;
}

.icon10-container .fa-twitter{
    background: #2CA9E1;
    color: white;
    box-shadow: 0px 6px 0px #2695BC;
}

.icon10-container .fa-twitter:active{
    box-shadow: 0px 2px 0px #2695BC;
}

.icon10-container .fa-linkedin{
    background: #0073B2;
    color: white;
    box-shadow: 0px 6px 0px #005377;
}

.icon10-container .fa-linkedin:active{
    box-shadow: 0px 2px 0px #005377;
}

.icon10-container .fa-pinterest{
    background: #CD1D1F;
    color: white;
    box-shadow: 0px 6px 0px #8C151B;
}

.icon10-container .fa-pinterest:active{
    box-shadow: 0px 2px 0px #8C151B;
}

.icon10-container .fa-flickr{
    background: #FC1090;
    color: white;
    box-shadow: 0px 6px 0px #C10E78;
}

.icon10-container .fa-flickr:active{
    box-shadow: 0px 2px 0px #C10E78;
}

/*--------------------------------------------------------------
Eleventh set of icons - Yellow - Bottom Middle
--------------------------------------------------------------*/
.icon11-container{
    position: absolute;
    top: 480px;
    left: 780px;
    background-color: #FFD656;
    border: 2.5px solid #FFF;
    border-bottom: none;
    padding: 50px;
    height: 364px;
    width: 150px;
}

/*--------------------------------------------------------------
Twelfth set of icons - Purple Raise Up Icons- Middle Right
--------------------------------------------------------------*/
.icon12-container{
    position: absolute;
    top: 480px;
    left: 1035px;
    background-color: #644CA2;
    border: 2.5px solid #FFF;
    height: 263px;
    width: 511px;
}

.icon12-block{
    width: 530px;
    margin-left: 40px;
    margin-top: 90px;
}

.icon12-container .fa{
    display: inline-block;
    font-size: 30px;
    width: 58px;
    height: 43px;
    text-decoration: none;
    text-align: center;
    margin: 10px 4px;
	border-radius: 100%;
    padding-top: 15px;
    background-color: #FFF;
    margin-right: 10px;
    margin-left: 10px;
}

.icon12-container .fa-facebook{
    background-color: #3B5998;
    color: #FFF;
    border: 2px solid white;
    transition: transform .5s ease-in-out;
}

.icon12-container .fa-facebook:hover{
    transform: translate(0, -15px);
}

.icon12-container .fa-twitter{
    background-color: #55ACEE;
    color: #FFF;
    border: 2px solid white;
    transition: transform .5s ease-in-out;
}

.icon12-container .fa-twitter:hover{
    transform: translate(0, -15px);
}

.icon12-container .fa-linkedin{
    background-color: #0077B5;
    color: #FFF;
    border: 2px solid white;
    transition: transform .5s ease-in-out;
}

.icon12-container .fa-linkedin:hover{
    transform: translate(0, -15px);
}

.icon12-container .fa-google{
    background-color: #DD4B39;
    color: #FFF;
    border: 2px solid white;
    transition: transform .5s ease-in-out;
}

.icon12-container .fa-google:hover{
    transform: translate(0, -15px);
}

.icon12-container .fa-rss{
    background-color: #FF6000;
    color: #FFF;
    border: 2px solid white;
    transition: transform .5s ease-in-out;
}

.icon12-container .fa-rss:hover{
    transform: translate(0, -15px);
}

/*--------------------------------------------------------------
Thirteenth set of icons - Red - Bottom Right
--------------------------------------------------------------*/
.icon13-container{
    position: absolute;
    top: 748px;
    left: 1035px;
    background-color: #FF5952;
    border: 2.5px solid #FFF;
    border-right: none;
    border-bottom: none;
    padding: 50px;
    height: 96px;
    width: 782px;
}
